.cardsBlock{
    padding: 100px 0;
    width: 700px;
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}
.card{
    width: 200px;
    background-color: #ffffff;
    border-radius: 10px;
    text-align: center;
    padding: 10px 5px;
}
.card h5{
    height: 30px;
    overflow: hidden;
}
.card p{
    margin-top: 10px;
    height: 20px;
    overflow: hidden;
}
.cardImg {
    margin: 0 auto 10px;
    width: 150px;
    height: 150px;

}
.card img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}